@page "/"
<label>
    Compiler Web Service IP:
    <input @bind="this.ServiceIP" />
    <button @onclick="TestServiceConnection" style="background-color: @StatusColor">Test</button>
</label>
<br />
<select @onchange="SampleSelected">
    <option>-- samples --</option>
    @foreach (var item in Samples)
    {
        <option value="@item.Item1">@item.Item1</option>
    }
</select>

<div class="row">
    <div class="column left">
        <StandaloneCodeEditor @ref="_editor"
                      Id="sample-code-editor-123"
                      ConstructionOptions="EditorConstructionOptions"
                      OnDidInit="EditorOnDidInit"
                      OnKeyDown="OnKeyDown"
                      OnKeyUp="OnKeyUp" />

        <label>
            Goal:
            <input @bind="Goal" style="width:800px" @bind:event="oninput"
                   @onkeydown="RunKeyPress" />
            <button @onclick="RunGoal">Run</button>
        </label>

        <textarea @bind="Output" @ref="outputElement" @ondblclick="OutputDoubleClick" style="width:100%;height:200px" readonly="readonly" />
    </div>
    <div class="column right">
        Tests:
        <button @onclick="RunAllTests">Run All</button>
        <table>
            <tbody>
                @foreach (var test in (_astEditor?.TestResults ?? new List<(string, bool?, int)>()).OrderBy(x => x.Item2).ThenBy(x => x.Item1))
                {
                    <tr @ondblclick="@(() => OnTestDoubleClick(test))">
                        @if (test.Item2 == true)
                        {
                        <td style="color:forestgreen"> ✅ @test.Item1</td>

                        }
                        else if (test.Item2 == false)
                        {
                    <td style="color:orangered"> ❌ @test.Item1</td>
                        }
                        else
                        {
                    <td style="color:dimgray"> ❔ @test.Item1</td>

                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>